{% extends 'base.html' %}

{% block title %} Радиоактивные элементы {% endblock %}

{% block container %}
    <div class = "searchSpace">
        <form action="{% url 'home' %}" class="searchContainer" method="get">
            <input class="searchBar" name="atomic_mass" type="text" pattern="\d*" placeholder="Поиск по атомной массе" value="{{ data.searchText }}">
            <input class="searchButton" type="submit" value="Найти" >
        </form>
        {% if basketCount > 0 %}
            <div class = "circle oswaldH">{{basketCount}}</div>
        {% endif %}
        <a href="{% url 'decay' decayId %}">
            <img src="http://127.0.0.1:9000/images/icons/quote.jpg" alt = "decay" class = "basketLogo">
        </a>
    </div>
    <div class = "elementsContainer">
        {% for element in elements %}
            {% include 'element_card.html' %}
            {% empty %}
            <h1 class = "oswaldH" style = "font-size: 96rem;">Список пуст</h1>
        {% endfor %}
    </div>  
{% endblock %}